.section:nth-child(2) {
  background: url("../images/forest-bg.jpg") no-repeat scroll center bottom;
  background-size: cover;
}
.section:nth-child(3) {
  background: url("../images/exhibition-bg.jpg") no-repeat scroll center bottom;
  background-size: cover;
}
.section:nth-child(5) {
  background: url("../images/support-bg.jpg") no-repeat scroll center bottom;
  background-size: cover;
}
.section:nth-child(6) {
  background: url("../images/library-bg.jpg") no-repeat scroll center bottom;
  background-size: cover;
}
.section:nth-child(7) {
  background-color: #e4ffed;
}
.section:last-child {
  background: url("../images/footer-bg.jpg") no-repeat scroll center bottom;
  background-size: cover;
}
#fullpage > .section:first-child {
  padding-top: 0 !important;  /* Sử dụng !important để đảm bảo ghi đè giá trị đã đặt từ JS */
}
#loader-wrapper {
  position: relative;
  top: 0;
  height: 100vh;
  left: 0;
  width: 100%;
  background-image: url("../images/forest-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9999;
  overflow: hidden;
}
.loader {
  --half-page: 50%;
  --size-loader: 68px;
  position: absolute;
  top: var(--half-page);
  left: var(--half-page);
  transform: translate(
    calc(var(--half-page) * -1),
    calc(var(--half-page) * -1)
  );
  width: var(--size-loader);
  height: var(--size-loader);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.loader > span:nth-child(1) {
  width: 80%;
  height: 80%;
  padding: 3px;
  position: absolute;
  display: flex;
  justify-content: center;
  border: 2px solid #ff3e00;
  background: transparent;
  align-items: center;
  -webkit-animation: loader-1 3s ease-in-out 0s infinite alternate;
          animation: loader-1 3s ease-in-out 0s infinite alternate;
}
.loader > span:nth-child(2) {
  width: 80%;
  height: 80%;
  padding: 3px;
  left: -80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-color);
  background: transparent;
  transform: rotate(45deg);
  -webkit-animation: loader-2 3s ease-in-out 0s infinite alternate;
          animation: loader-2 3s ease-in-out 0s infinite alternate;
}
@-webkit-keyframes loader-1 {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}
@keyframes loader-1 {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}
@-webkit-keyframes loader-2 {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-2 {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.forest {
  text-align: center;
}
.forest .button {
  margin-top: 80px;
}
.forest .heading {
  margin-top: 20px;
  padding-bottom: 0;
}
.forest .heading::after {
  content: unset;
}
.forest__heading a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.24s linear;
}
.forest__heading a:hover {
  color: var(--dark-color);
}
.forest__description {
  padding: 30px 0 60px 0;
  line-height: 30px;
  text-align: justify;
  max-width: 1048px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.forest__count {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  --columns: 4;
  --gap: 20px;
  --spacing: calc(((var(--columns) - 1) * var(--gap)) / var(--columns));
  gap: var(--gap);
}
.forest__count-item {
  width: calc((100% / var(--columns)) - var(--spacing));
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forest__count-item p {
  font-weight: 600;
}
.forest__count-image {
  --size-item: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-item);
  height: var(--size-item);
  border: 1px solid var(--primary-color);
}
.forest__count-item img {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}
.forest__count-item span {
  margin-top: 20px;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 20px;
}
.exhibition__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 320px);
  grid-gap: 20px;
}
.exhibition__item {
  text-align: center;
  color: var(--light-color);
}
.exhibition__item:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.exhibition__item:nth-child(3) {
  grid-column: 3/-1;
}
.exhibition__item:nth-child(4) {
  grid-column: 1/2;
}
.exhibition__item:nth-child(5) {
  grid-column: 2/4;
}
.exhibition__item:not(:first-child) img {
  transition: transform 0.4s ease-in-out;
}
.exhibition__item:not(:first-child):hover img {
  transform: scale(1.2);
}
.exhibition__item:not(:first-child) {
  overflow: hidden;
  position: relative;
}
.exhibition__item:not(:first-child) img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.exhibition__item-label {
  padding: 12px 20px 7px;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
}
.exhibition__item-desc {
  margin: 12px 0;
}
.news {
  text-align: center;
  position: relative;
  z-index: 12;
}
#section-news {
  position: relative;
  overflow: hidden;
}
#section-news video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__tab {
  margin: 32px 0 40px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.news__tab-item {
  margin-bottom: 12px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: var(--dark-color);
  padding: 8px 16px;
  font-size: 16px;
  transition: all 0.24s linear;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--light-color);
}
@media (hover: hover) {
  .news__tab-item:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
    border-color: var(--primary-color);
  }
}
.news__tab-item.active {
  pointer-events: none;
  background-color: var(--primary-color);
  color: var(--light-color);
  border-color: var(--primary-color);
}
.news__tab-item:not(:last-child) {
  margin-right: 16px;
}
.news__content-item {
  background-color: var(--light-color);
}
.news__content-pane {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  display: none;
}
.news__content-pane.active {
  display: grid;
}
.news__content-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: inline-block;
}
.news__content-image:hover img {
  transform: scale(1.2);
  opacity: 0.8;
}
.news__content-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
  transition: all 0.4s linear;
}
.news__content-title {
  padding: 8px 12px 12px 12px;
}
.news__content-title a {
  color: var(--dark-color);
  transition: color 0.4s ease 0s;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 26px;
}
.news__content-title a:hover {
  color: var(--primary-color);
}
.news__content-image:hover + .news__content-title a {
  color: var(--primary-color);
}
.library {
  text-align: center;
}
.library__desc {
  color: var(--light-color);
  max-width: 1200px;
  margin: 0 auto 30px auto;
}
.library .heading {
  margin-bottom: 30px;
}
.library__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  min-height: 520px;
  grid-gap: 20px;
}
.library__wrapper-item {
  display: inline-block;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.library__wrapper-item:hover .library__wrapper-image {
  transform: scale(1.2);
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}
.library__wrapper-item:hover .library__wrapper-text {
  color: #acffbd;
}
.library__wrapper-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
  transition: all 0.4s linear;
}
.library__wrapper-heading {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 28px;
  text-transform: uppercase;
  background: rgba(0, 153, 51, 0.9);
  padding: 10px 15px;
  width: 100%;
  min-height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.library__wrapper-icon {
  position: absolute;
  left: 1.5rem;
  top: calc(72px * -1 / 2);
}
.library__wrapper-text {
  font-size: 22px;
  color: var(--light-color);
  max-width: 280px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  transition: color 0.24s linear;
}
.support {
  text-align: center;
}
.support__wrapper {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  min-height: 450px;
  grid-gap: 20px;
}
.support__column:first-child {
  grid-column: 1/3;
}
.support__column--last {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.support__column-main {
  position: relative;
}
.support__column-group {
  background: #009933;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: var(--light-color);
}
.support__column-group:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  pointer-events: none;
  border: 1px solid #1db650;
}
.support__column-clock {
  width: 99px;
  height: 99px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(2, 104, 34, 0.5);
  border: 1px solid rgba(125, 230, 160, 0.5);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
.support__column-box {
  padding: 30px 20px;
}
.support__column-box h2,
.support__column-box h3 {
  text-transform: uppercase;
}
.support__column-box h2 {
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 8px;
}
.support__column-box h3 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 20px;
}
.support__column-box span {
  display: block;
}
.support__column-clock img {
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.support__column-line {
  margin: 15px 0;
  border-top: 1px solid #fff;
  box-shadow: 0px 1px 1px #000000;
  opacity: 0.2;
}
.support__column--bg {
  background-color: var(--primary-color);
  color: var(--light-color);
}
.support__column-image {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.support__column-image::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 64.35%,
    rgba(0, 0, 0, 0.9) 100%
  );
  transition: 0.4s all ease-in-out;
  pointer-events: none;
}
.support__column-main {
  height: 100%;
}
.support__column-half {
  overflow: hidden;
  height: calc(50% - 10px);
}
.support__column-main:hover .support__column-image img,
.support__column-half:hover img {
  transform: scale(1.2);
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}
.support__column-link {
  display: block;
  text-decoration: none;
  height: 100%;
}
.support__column-link img {
  transition: all 0.24s ease-in-out;
  -o-object-fit: cover;
  object-fit: cover;
  pointer-events: none;
  display: inline-block;
  height: 100%;
  width: 100%;
}
.support__column-content {
  position: absolute;
}
.support__column-content--first {
  left: 2.2rem;
  bottom: 2.2rem;
  text-align: left;
}
.support__column-content--second {
  left: 0.8rem;
  bottom: 1.2rem;
  text-align: left;
  color: var(--light-color);
  padding-left: 60px;
  font-size: 16px;
  line-height: 22px;
  max-width: 280px;
  font-weight: bold;
}
.support__column-content--third {
  text-align: right;
  right: 1.5rem;
  bottom: 1.1rem;
  text-transform: uppercase;
  line-height: 22px;
}
.support__column-content--third a {
  font-size: 20px !important;
  margin-bottom: 0 !important;
}
.support__column-content--third span {
  font-size: 30px !important;
  color: var(--light-color);
  font-weight: bold;
}
.support__column-content--second a {
  color: var(--light-color);
  text-decoration: none;
}
.support__column-content a:first-child {
  text-decoration: none;
  color: var(--light-color);
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: block;
  transition: color 0.24s linear;
}
.support__column-content a:first-child span {
  font-size: 56px;
  line-height: 70px;
  display: block;
}
.support__column-icon {
  padding: 6px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.support__column-icon:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.support__column-icon i {
  width: 36px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border-radius: 100%;
  text-align: center;
  background: var(--primary-color);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.slider-main .item {
  width: 100% !important;
  height: 100vh !important;
}
.slider-main .item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-main__content,
.slider-main__link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.slider-main__content {
  text-align: center;
  bottom: 15.5rem;
  max-width: 998px;
  width: 100%;
  z-index: 99;
  line-height: 70px;
  font-size: 60px;
  color: var(--light-color);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.8px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.9);
}
.slider-main__link {
  bottom: 12rem;
  display: inline-flex;
  gap: 8px;
  text-decoration: none;
  align-items: center;
  color: var(--light-color);
  transition: color 0.2s linear;
  -webkit-animation: shakeBtn 2s linear infinite 2.5s; /* 3 seconds delay added here */
  animation: shakeBtn 2s linear infinite 2.5s; /* 3 seconds delay added here */
}
@-webkit-keyframes shakeBtn {
  0%,
  40% {
    transform: translateX(-50%) rotate(0deg);
  }
  10%,
  30% {
    transform: translateX(-50%) rotate(-5deg);
  }
  20% {
    transform: translateX(-50%) rotate(5deg);
  }
  50%,
  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}
@keyframes shakeBtn {
  0%,
  40% {
    transform: translateX(-50%) rotate(0deg);
  }
  10%,
  30% {
    transform: translateX(-50%) rotate(-5deg);
  }
  20% {
    transform: translateX(-50%) rotate(5deg);
  }
  50%,
  100% {
    transform: translateX(-50%) rotate(0deg);
  }
}
.slider-main__link:hover {
  color: #57ff57;
}
.slider-main .owl-dots {
  position: absolute;
  bottom: calc(2.8rem - -54px);
  left: 50%;
  transform: translateX(-50%);
}
.slider-main .owl-dot.active span {
  background-color: var(--primary-color) !important;
}
.marquee {
  --h-marquee: 54px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  gap: 20px;
  height: var(--h-marquee);
  align-items: center;
  color: var(--light-color);
  padding: 0 20px;
  z-index: 64;
}
.marquee a {
  text-decoration: none;
  color: inherit;
}
.marquee__title {
  --title-bg: #026421;
  font-weight: bold;
  padding: 0 20px;
  line-height: var(--h-marquee);
  height: 100%;
  text-transform: uppercase;
  background-color: var(--title-bg);
  position: relative;
  margin-right: 4px;
  flex-shrink: 0;
}
.marquee__title::before {
  content: "";
  position: absolute;
  left: 100%;
  margin-right: -1px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 20px solid var(--title-bg);
}
.marquee__title i {
  margin-right: 4px;
}
.marquee__main {
  overflow: hidden;
}
.marquee__main-list {
  width: 100%;
  list-style: none;
}
.marquee__main-list li {
  display: inline;
  margin-right: 40px;
}
.marquee__main-list li a {
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  gap: 8px;
  align-items: center;
}
.events {
  text-align: center;
}
.events__description {
  margin: 40px 0;
}
.events__carousel-item {
  padding: 30px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.events__carousel-item h3,
.events__carousel-item p {
  text-align: left;
}
.events__carousel-item h3 a {
  font-size: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s linear;
}
.events__carousel-item h3 a:hover {
  color: var(--primary-color);
}
.events__carousel-item p {
  line-height: 26px;
}
.events__carousel-image {
  overflow: hidden;
  height: 260px;
  display: inline-block;
  margin: 20px 0;
  width: 100%;
}
.events__carousel-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  transition: all 0.2s ease-in;
}
.events__carousel-image:hover img {
  transform: scale(1.2);
  opacity: 0.8;
}
.events__carousel .owl-next,
.events__carousel .owl-prev {
  --size-icon: 40px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: var(--size-icon);
  height: var(--size-icon);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50% !important;
  border: 1px solid rgba(255, 255, 255, 0.05) !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  background: var(--primary-color) !important;
  font-size: 30px !important;
  transition: all 0.35s;
}
@media (hover: hover) {
  .events__carousel .owl-next:hover,
  .events__carousel .owl-prev:hover {
    opacity: 0.8;
  }
}
.events__carousel .owl-next {
  right: calc(var(--size-icon) * -1 - 4px);
}
.events__carousel .owl-prev {
  left: calc(var(--size-icon) * -1 - 4px);
}
.events__carousel-icon {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.events__carousel .owl-nav [class*="owl-"] {
  margin: 0 !important;
}
.footer-home {
  text-align: center;
  color: var(--light-color);
}

/* Responsive all screen table, mobile */
@media only screen and (max-width: 1599px) {
  .section {
    height: auto !important;
  }
  .fp-tableCell {
    height: auto !important;
  }
  .library__wrapper {
    min-height: 450px;
  }
  .events__carousel .owl-prev {
    left: 0;
  }
  .events__carousel .owl-next {
    right: 0;
  }
}
@media only screen and (max-width: 1439px) {
  .slider-main__content {
    font-size: 42px;
    line-height: 58px;
  }
  .exhibition__item:first-child {
    padding: 8px;
  }
  .support__column-box h2 {
    font-size: 24px;
  }
  .support__column-box h3 {
    font-size: 20px;
  }
  .library__wrapper-icon {
    position: unset;
    max-width: 58px;
  }
  .library__wrapper-text {
    font-size: 18px;
    text-align: right;
    max-width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .section {
    padding: 40px 0 !important;
  }
  .section:first-child {
    padding: 0 !important;
  }
  .section:first-child .wrapper-second {
    position: unset;
  }
  .slider-main__content {
    font-size: 24px;
    line-height: 40px;
  }
  .slider-main .item {
    height: 64vh !important;
  }
  .marquee {
    gap: 8px;
    padding: 0;
    --h-marquee: 48px;
    position: unset;
  }
  .marquee__main-list li a,
  .marquee__title {
    font-size: 14px;
  }
  .marquee__main-list li {
    margin-right: 28px;
  }
  .marquee__title {
    padding: 0 12px;
    margin-right: 2px;
  }
  .marquee__title::before {
    border: none;
  }
  .exhibition__gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .exhibition__item:not(:nth-child(9999)) {
    grid-column: unset;
  }
  .news__tab {
    margin: 20px 0;
  }
}
@media only screen and (max-width: 1023px) {
  .slider-main .owl-dots {
    bottom: 1rem;
  }
  .slider-main__content {
    bottom: 7.4rem;
  }
  .slider-main__link {
    bottom: 5.4rem;
  }
  .slider-main .item {
    height: 40vh !important;
  }
  .events__carousel-image {
    height: auto;
    margin: 12px 0;
  }
}
@media only screen and (max-width: 1200px) {
  .support__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  .slider-main .owl-dots {
    bottom: 0;
  }
  .slider-main__content {
    font-size: 16px;
    line-height: normal;
    bottom: 5.4rem;
  }
  .slider-main__link {
    font-size: 14.8px;
    bottom: 2.9rem;
  }
  .slider-main .item {
    height: 22vh !important;
  }
  .marquee {
    --h-marquee: 40px;
  }
  .marquee__title {
    font-size: 12.8px;
    padding: 0 8px;
  }
  .marquee__title i {
    display: none;
  }
  .marquee__main-list li a {
    font-size: 12px;
  }
  .forest__description {
    padding-bottom: 40px;
  }
  .forest__count {
    --columns: 2;
    gap: 40px var(--gap);
  }
  .forest .button {
    margin-top: 40px;
  }
  .news__tab-item {
    font-size: 14.5px;
  }
  .news__content-title a {
    margin-top: 6px;
  }
  .news__content-pane {
    justify-content: flex-start;
    grid-auto-columns: 90%;
    grid-auto-flow: column;
    grid-gap: 1.2rem;
    overflow: auto;
    overflow-y: hidden;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .news__content-pane::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .news__content-pane > * {
    scroll-snap-align: start;
  }
  .support__wrapper {
    grid-template-columns: 1fr;
  }
  .support__column:not(:nth-child(9999)) {
    grid-column: unset;
  }
  .support__column-content a:first-child {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 12px;
  }
  .support__column-content a:first-child span {
    font-size: 28px;
    line-height: 35px;
  }
  .support__column-content--first {
    bottom: 1.2rem;
  }
  .support__column-box h2,
  .support__column-box h3 {
    font-size: 20px;
  }
  .library__wrapper-text {
    font-size: 16px;
  }
  .events__carousel-item {
    padding: 15px 18px;
  }
  .events__carousel-item h3 a {
    font-size: 18px;
  }
  .events__description {
    margin: 12px 0;
  }
  .events__carousel-item p {
    font-size: 14px;
  }
  .section:last-child {
    padding: 20px 0 !important;
  }
}
@media only screen and (max-width: 599px) {
  .exhibition__gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media only screen and (max-width: 374px) {
  .slider-main__content {
    font-size: 16px;
    bottom: 6rem;
  }
  .slider-main__link {
    bottom: 4.4rem;
  }
  .library__wrapper,
  .news__content-pane {
    grid-template-columns: 1fr;
  }
}
